{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        
        {{ range .Params.Categories }}
        <h5>
          <span class="badge p-2 badge-category">
            <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" >{{ . | title | humanize }}</a>             
          </span>
        </h5>
        {{ end }}

        <h1>{{ .Title | markdownify }}</h1>
        <div class="mb-3 post-meta">
          {{ if not .Params.HideDate }}
          {{- range .Params.authors }}
              {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                  <span>
                      <a class="h6" href="{{ .Permalink }}">Escrito por {{ with .Params.name }}{{ . }}{{ else }}{{ with .Site.Params.Author }}{{ . }}{{ end }}{{ end }}</a>
                  </span>
                  <span class="border-bottom border-primary px-2 mx-1"></span>
              {{ end }}
          {{ end }}
          <span class="h6">{{ .PublishDate.Format "02 January 2006" }}</span>
        {{ end }}

        </div>
        {{ if .Params.image }}
        <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>

        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}