/* Button style */
.btn {
  font-size: 14px;
  font-weight: 500;
  font-family: $primary-font;
  text-transform: capitalize;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: 0 !important;
  }
}

.btn-primary {
  background: $primary-color;
  color: $white;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: $text-color-dark;
  border-color: $primary-color;
  border-radius: 10px;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
    color: $white;
  }
}