/*  typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.7;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  line-height: 1.2;
}

a{
  &.h1,&.h2,&.h3,&.h4,&.h5,&.h6{
    color: $text-color-dark;
  }
}

h1, .h1{
  font-size: 45px;
}

h2, .h2{
  font-size: 40px;
}

h3, .h3{
  font-size: 32px;
}

h4, .h4{
  font-size: 26px;
}

h5, .h5{
  font-size: 24px;
}

h6, .h6{
  font-size: 20px;
}
