// Color Variables
$primary-color: #0361D2;
$secundary-color: #F8C822;
$tertiary-color: #E92843;

$category-bg: #0360d211;

// Markdown
$code-bg:#282C34;

$text-color: #17234D;
$text-color-dark: #222222;
$text-color-light: #959595;

$body-color: #fff;
$border-color: #ACB9C4;

$black: #000;
$white: #fff;
$gray: #f4fcff;

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';