<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .URL | absURL }} ">
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $styles := resources.Get "scss/style.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ `favicons/apple-icon-57x57.png` | absURL }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ `favicons/apple-icon-60x60.png` | absURL }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ `favicons/apple-icon-72x72.png` | absURL }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ `favicons/apple-icon-76x76.png` | absURL }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ `favicons/apple-icon-114x114.png` | absURL }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ `favicons/apple-icon-120x120.png` | absURL }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ `favicons/apple-icon-144x144.png` | absURL }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ `favicons/apple-icon-152x152.png` | absURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ `favicons/apple-icon-180x180.png` | absURL }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ `favicons/android-icon-192x192.png` | absURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ `favicons//favicon-32x32.png` | absURL }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ `favicons/favicon-96x96.png` | absURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ `favicons/favicon-16x16.png` | absURL }}">
  <link rel="manifest" href="{{ `favicons/site.webmanifest` | absURL }}">
  <meta name="msapplication-TileImage" content="{{ `favicons/ms-icon-144x144.png` | absURL }}">
  
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0361d2">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#0361d2">
</head>