<div class="row">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
    {{ range $paginator.Pages }}
    <div class="col-md-6 mb-4">
      <article class="card">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
        {{ end }}
        <div class="card-body px-0">
          
          {{ range .Params.Categories }}
          <h5>
            <span class="badge p-2 badge-category">
              <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" >{{ . | title | humanize }}</a>             
            </span>
          </h5>
          {{ end }}

          <a href="{{ .Permalink }}" class="h1 d-block my-3">{{ .Title | markdownify }}</a>

          {{ if not .Params.HideDate }}
            {{- range .Params.authors }}
                {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                    <span>
                        <a class="h6" href="{{ .Permalink }}">{{ with .Params.name }}{{ . }}{{ else }}{{ with .Site.Params.Author }}{{ . }}{{ end }}{{ end }}</a>
                    </span>
                    <span class="border-bottom border-primary px-2 mx-1"></span>
                {{ end }}
            {{ end }}
            <span class="h6">{{ .PublishDate.Format "02 January 2006" }}</span>
          {{ end }}

          <p class="card-text">{{ .Summary }}</p>

          <div class="mb-3 post-meta"></div>
          <a href="{{ .Permalink }}" class="btn btn-outline-primary">Leer</a>
        </div>
      </article>
    </div>
    {{ end }}
  </div>


