<!-- recent post -->
<section>
    <div class="container">
      <div class="row">
        {{ range first 3 (where .Site.RegularPages "Type" "post")}}
        <div class="col-lg-4 small-post-border">
          <article class="media">
            {{ if .Params.Image }}
            <div class="recent-post-thumb mr-3" style="background-image: url('{{ .Params.Image | absURL }}');"></div>
            {{ end }}
            <div class="media-body">
              <div class="mb-3 post-meta">
                <span>{{ with .Params.Author }}{{ . }}{{ else }}{{ with .Site.Params.Author }}{{ . }}{{ end }}{{ end }}</span>
                {{ if not .Params.HideDate }}
                <span class="border-bottom border-primary px-2 mx-1"></span>
                <span>{{ .PublishDate.Format "02 Jan 2006" }}</span>
                {{ end }}
              </div>
              <a href="{{ .Permalink }}" class="h5 d-block mb-3">{{ .Title | markdownify }}</a>
              <a href="{{ .Permalink }}" class="btn btn-outline-primary">Leer</a>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /recent post -->