<div class="col-lg-4">
  <!-- category -->
  <div class="widget">
    <!-- <h4 class="widget-title">Categorias</h4> -->
    <a href="{{ `categories/`}}">
      <p class="h3">Categorias</p>
    </a>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li><a
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>

  <!-- advertisement -->
  <div class="widget">
    <img src="{{`images/promotion.png` | absURL}}" alt="" class="img-fluid">
  </div>
  
</div>
